<section class="{{ node.type.0.target_id | clean_class }}-token-wrapper">
    
    <div class="conversation-members">
        
        {% if currentUserUID == conversationOwner %}
            {{ content.field_recipient }}
        {% else %}
            {{ author_picture }}
        {% endif %}
        
    </div>
    
    <a class="conversation-token-link" href="{{ url }}#comment-{{ content.field_conversation_comment['#items'].0.cid }}"></a>
    
</section>